.main {
    .box {
        width: 1000px;
        height: 400px;
        margin: 0 auto;
        background-image: url(../images/pic-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}