<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index </title>
</head>
<body>
    <div class="nav">
        <ul>
            <li class="active">导航1</li>
            <li>导航2</li>
            <li>导航3</li>
            <li>导航4</li>
            <li>导航5</li>
            <li>导航6</li>
        </ul>
    </div>
    <div class="main">
        <!-- 背景图片 -->
        <div class="box">

        </div>
    </div>

    <div class="banner">
        <div class="box">
            <!-- img标签图片 -->
            <img src="../images/pic-2.jpg" alt="">
            <!-- <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png" alt=""> -->
        </div>
    </div>
   

</body>
</html>