<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
   
</head>
<body>
    <div class="wrap">
        <div class="box">
            <div id="number">0</div>
            <div id="buttons">
                <div class="btn-start">开始</div>
                <div class="btn-pause">暂停</div>
            </div>
        </div>
    </div>

</body>
</html>